.input-style {
    padding: 5px 10px;
    margin-right: 10px;
}

.button {
    min-width: 100px;
    padding: 5px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #f1f1f1;
    background-color: #00A65A;
}

.add-category-container {
    background-color: #fff;
    padding: 15px;
    margin-top: 20px;
    border-top: 3px solid #3C8DBC;
}